<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <!-- Include Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Task Manager</h1>
        <ul class="list-group">
            <% tasks.forEach(task => { %>
                <li class="list-group-item">
                    <%= task.name %>
                    <div class="btn-group float-right" role="group" aria-label="Task Actions">
                        <a href="/edit-task/<%= task.id %>" class="btn btn-sm btn-primary">Edit</a>
                        <a href="/delete-task/<%= task.id %>" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </li>
            <% }) %>
        </ul>
        <form action="/add-task" method="POST" class="mt-4">
            <div class="form-group">
                <input type="text" name="taskName" class="form-control" placeholder="Enter task name" required>
            </div>
            <button type="submit" class="btn btn-success">Add Task</button>
        </form>
    </div>
</body>
</html>
