/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: #121212; /* Dark background */
    color: #000000; /* White text */
    font-family: 'Segoe UI', sans-serif; /* Futuristic font */
    padding: 20px;
}

/* Header styles */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffa963; /* Cyan color */
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
}

/* Input styles */
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffbc81; /* Cyan border */
    border-radius: 5px;
    background-color: transparent; /* Transparent background */
    color: #ffffff; /* White text */
    outline: none; /* Remove default input outline */
}

/* Button styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #057a0c; /* Cyan background */
    color: #fff; /* White text */
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #042c09; /* Lighter cyan on hover */
}

/* List styles */
ul {
    list-style-type: none;
}

/* List item styles */
li {
    margin-bottom: 5px;
    padding: 15px;
    background-color: #fff6f6; 
    border-radius: 5px;
}
.btn-group{
    margin-bottom: 20px;
    float: right;
   
}
/* Link styles */
.btn-primary
{
    color: #0f69ef;
    text-decoration: none;
    
}
.btn-danger{
    color: #a90011;
    text-decoration: none;
}
/* Link hover effect */
a:hover {
    text-decoration: underline;
}
