<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Details</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="porfolio-styles.css">
<script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

 
</head>
<body id="app3">
  <header>
    <nav class="navbar navbar-expand-lg shadow fixed-top">
      <div class="container-fluid">
        <router-link class="navbar-brand px-3" to="/home"><h2>NanA</h2></router-link>
        <div class="navbar-nav px-3 ">
        <a class="nav-link" aria-current="page" href="portfolio.html">Go Back</a>
        </div>
      </div>
    </nav>
    </header>
    <section class="hero containder-md text-center pt-5 mb-5">
      <img :src="'images/' + card.image" class="img-fluid background-clip" alt="image">
    <div class="content">
      <h1 class="display-6">{{ card.title }}</h1>
      <p class="lead">{{ card.heroDescription}}</p>
    </div>
    </section>
    <section class="container case-study-content">
    <div class="row p-3">
      <div class="col mb-3">
        <h3>Challenge</h3>
        <p>{{ card.challengeText }}</p>
      </div>
      <div class="col mb-3">
        <h3>Goals</h3>
        <p>
          <ol>
            <li v-for="goal in card.goalsList" :key="goal">{{ goal }}</li>
          </ol>
        </p>
      </div>
    </div>
 
  <div class="row mb-5 p-4">
      <h3>Research & Analysis</h3>
      <p class="mb-5">{{ card.researchText }}</p>
      <div class="col mb-3">
        <h3>Key Features</h3>
        <ul>
          <li v-for="feature in card.keyFeaturesList" :key="feature">{{ feature }}</li>
        </ul>
      </div>
      <div class="col mb-3">
        <h3>Future Enhancements</h3>
        <ul>
          <li v-for="enhancement in card.futureEnhancementsList" :key="enhancement">{{ enhancement }}</li>
        </ul>
      </div>
  </div>



  <div class="designprocess text-center mb-5">
    <h3>Design Process</h3>
    <div class="row mt-5 p-4">
      <div v-for="(step, index) in designSteps" :key="index" class="col mb-5">
        <i class="process" :class="step.icon"></i>
        <h5 class="mt-4">{{ step.title }}</h5>
        <p class="text-center">{{ step.description }}</p>
      </div>
    </div>
  </div>

  <div class="col-lg-12 mt-5 mb-5">
    <p class="text-center mt-4">
    <a href="card.link" class="link button" @click="redirect"> {{ card.buttonText }}</a>
    </p>
  </div>
  </section>

  <section class="gallery pt-5">
    <div class="row mb-5">
      <div class="col mb-3" v-for="(image, index) in card.galleryImages1" :key="index">
        <img :src="image" class="img-fluid" alt="">
      </div>
    </div>
    <div class="row mb-5">
    <div class="col mb-3" v-for="(image, index) in card.galleryImages2" :key="index">
      <img :src="image" class="img-fluid" alt="">
    </div>
    </div>
    <div class="row mb-3">
    <div class="col mb-3" v-for="(image, index) in card.galleryImages3" :key="index">
      <img :src="image" class="img-fluid" alt="">
    </div>
  </section>
  

<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
<script>
  const params = new URLSearchParams(window.location.search);
  const cardId = parseInt(params.get('id'));

  const app = Vue.createApp({
    data() {
      return {
        cards: [
          {
            id: 1,
            heroDescription: "We dey for you",
            image: "Frame 61.jpg",
            title: "JetServices Landing Page",
            tags: "UI/UX",
            info: "This is a ui/ux design of an IT service company website. click here to view case study and designs",
            buttonText: "See Prototype",
            link : "",
            researchText: " ",
            keyFeaturesList: [
            "Personalized Recommendations",
            "Reading Progress Tracking",
            "Social Sharing",
            "Customization Options",
          ],
            futureEnhancementsList: [
            "Personalized Recommendations",
            "Reading Progress Tracking",
            "Social Sharing",
            "Customization Options",
          ],
          challengeText: "The digital reading landscape is saturated with various platforms and apps, making it challenging for readers to find a seamless and engaging experience. The Shelf aimed to address this challenge by creating a novel reading app that combines functionality, aesthetics, and user experience.",
        goalsList: [
          "Develop a user-friendly interface for easy navigation and accessibility.",
          "Create a visually appealing design to enhance the reading experience.",
          "Implement features such as personalized recommendations and social sharing to increase user engagement.",
          "Optimize performance and responsiveness across different devices and platforms.",
        ],
        galleryImages1: [
          'caseimages/shelf (11).png',
          'caseimages/shelf (12).png',
          'caseimages/shelf (10).png',
          'caseimages/shelf (13).png',],
        galleryImages2:[
          'caseimages/shelf (9).png',
          'caseimages/shelf (8).png',
          'caseimages/shelf (7).png',
          'caseimages/shelf (6).png',],
        galleryImages3:[
          'caseimages/shelf (5).png',
          'caseimages/shelf (4).png',
          'caseimages/shelf (3).png',
          'caseimages/shelf (2).png'
        ]
          },
          {
            id: 2,
            heroDescription: "Opps page not loading",
            image: "404.jpg",
            title: "404 page",
            tags: "Web Dev",
            info: "I created this 404 web page with vue and bootstap",
            buttonText: "Check Code",
            link : "",
            researchText: " ",
            keyFeaturesList: [
            "1",
            "2",
            "3",
          ],
            futureEnhancementsList: [
            "1",
            "2",
            "3",
          ],
          challengeText: "The digital reading landscape is saturated with various platforms and apps, making it challenging for readers to find a seamless and engaging experience. The Shelf aimed to address this challenge by creating a novel reading app that combines functionality, aesthetics, and user experience.",
        goalsList: [
          "Develop a user-friendly interface for easy navigation and accessibility.",
          "Create a visually appealing design to enhance the reading experience.",
          "Implement features such as personalized recommendations and social sharing to increase user engagement.",
          "Optimize performance and responsiveness across different devices and platforms.",
        ],
        galleryImages1: [
          'caseimages/shelf (11).png',
          'caseimages/shelf (12).png',
          'caseimages/shelf (10).png',
          'caseimages/shelf (13).png',],
        galleryImages2:[
          'caseimages/shelf (9).png',
          'caseimages/shelf (8).png',
          'caseimages/shelf (7).png',
          'caseimages/shelf (6).png',],
        galleryImages3:[
          'caseimages/shelf (5).png',
          'caseimages/shelf (4).png',
          'caseimages/shelf (3).png',
          'caseimages/shelf (2).png'
        ]
          },
          {
            id: 3,
            heroDescription: "Shop at your finger tips",
            image: "Frame 62.jpg",
            title: "E-commerce UI/UX",
            tags: "UI/UX",
            info: "This is a ui/ux design of an perfume online store. click here to view case study and designs",
            buttonText: "See Prototype",
            link : "",
            researchText: "",
            keyFeaturesList:[
            "1",
            "2",
            "3",
          ],
            futureEnhancementsList: [
            "1",
            "2",
            "3",
          ],
          challengeText: "The digital reading landscape is saturated with various platforms and apps, making it challenging for readers to find a seamless and engaging experience. The Shelf aimed to address this challenge by creating a novel reading app that combines functionality, aesthetics, and user experience.",
        goalsList: [
          "Develop a user-friendly interface for easy navigation and accessibility.",
          "Create a visually appealing design to enhance the reading experience.",
          "Implement features such as personalized recommendations and social sharing to increase user engagement.",
          "Optimize performance and responsiveness across different devices and platforms.",
        ],
        galleryImages1: [
          'caseimages/shelf (11).png',
          'caseimages/shelf (12).png',
          'caseimages/shelf (10).png',
          'caseimages/shelf (13).png',],
        galleryImages2:[
          'caseimages/shelf (9).png',
          'caseimages/shelf (8).png',
          'caseimages/shelf (7).png',
          'caseimages/shelf (6).png',],
        galleryImages3:[
          'caseimages/shelf (5).png',
          'caseimages/shelf (4).png',
          'caseimages/shelf (3).png',
          'caseimages/shelf (2).png'
        ]
        },
        { 
          id: 4,
          heroDescription: "Track every step along the way",
          image: "tracker.jpg",
          title: "Step Tracker",
          tags: "Web Dev",
          info: "I created this 404 template with vue and bootstrap. click here to view code and templates",
          buttonText: "Check Code",
          link : "",
          researchText: "",
          keyFeaturesList: [
          "1",
          "2",
          "3",
        ],
          futureEnhancementsList: [
          "1",
          "2",
          "3",
        ],
        challengeText: "The digital reading landscape is saturated with various platforms and apps, making it challenging for readers to find a seamless and engaging experience. The Shelf aimed to address this challenge by creating a novel reading app that combines functionality, aesthetics, and user experience.",
        goalsList: [
          "Develop a user-friendly interface for easy navigation and accessibility.",
          "Create a visually appealing design to enhance the reading experience.",
          "Implement features such as personalized recommendations and social sharing to increase user engagement.",
          "Optimize performance and responsiveness across different devices and platforms.",
        ],
        galleryImages1: [
          'caseimages/shelf (11).png',
          'caseimages/shelf (12).png',
          'caseimages/shelf (10).png',
          'caseimages/shelf (13).png',],
        galleryImages2:[
          'caseimages/shelf (9).png',
          'caseimages/shelf (8).png',
          'caseimages/shelf (7).png',
          'caseimages/shelf (6).png',],
        galleryImages3:[
          'caseimages/shelf (5).png',
          'caseimages/shelf (4).png',
          'caseimages/shelf (3).png',
          'caseimages/shelf (2).png'
        ]
        },
        {
          id: 5,
          heroDescription: "Revolutionizing the way you read novels",
          image: "shelf.jpg",
          title: "The Book Shelf App",
          tags: "UI/UX",
          info: "This is a ui/ux design of a novel or book reading app calles the shelf. click here to view case study and designs",
          buttonText: "See Prototype",
          link : "",
          researchText: "",
          keyFeaturesList: [
          "1",
          "2",
          "3",
        ],
          futureEnhancementsList:[
          "1",
          "2",
          "3",
        ],
        challengeText: "The digital reading landscape is saturated with various platforms and apps, making it challenging for readers to find a seamless and engaging experience. The Shelf aimed to address this challenge by creating a novel reading app that combines functionality, aesthetics, and user experience.",
        goalsList: [
          "Develop a user-friendly interface for easy navigation and accessibility.",
          "Create a visually appealing design to enhance the reading experience.",
          "Implement features such as personalized recommendations and social sharing to increase user engagement.",
          "Optimize performance and responsiveness across different devices and platforms.",
        ],
        galleryImages1: [
          'caseimages/shelf (11).png',
          'caseimages/shelf (12).png',
          'caseimages/shelf (10).png',
          'caseimages/shelf (13).png',],
        galleryImages2:[
          'caseimages/shelf (9).png',
          'caseimages/shelf (8).png',
          'caseimages/shelf (7).png',
          'caseimages/shelf (6).png',],
        galleryImages3:[
          'caseimages/shelf (5).png',
          'caseimages/shelf (4).png',
          'caseimages/shelf (3).png',
          'caseimages/shelf (2).png'
        ]
        },
        {
          id: 6,
          heroDescription: "logo designs for your business",
          image: "Afro Yard.jpg",
          title: "Afro Yard Logo",
          tags: "Graphic Design",
          info: "This logo was created for Afro Yard Ghana",
          buttonText: "See MoodBoard",
          link : "",
          researchText: "",
            keyFeaturesList: [
            "1",
            "2",
            "3",
          ],
            futureEnhancementsList:[
            "1",
            "2",
            "3",
          ],
          challengeText: "The digital reading landscape is saturated with various platforms and apps, making it challenging for readers to find a seamless and engaging experience. The Shelf aimed to address this challenge by creating a novel reading app that combines functionality, aesthetics, and user experience.",
        goalsList: [
          "Develop a user-friendly interface for easy navigation and accessibility.",
          "Create a visually appealing design to enhance the reading experience.",
          "Implement features such as personalized recommendations and social sharing to increase user engagement.",
          "Optimize performance and responsiveness across different devices and platforms.",
        ],
        galleryImages1: [
          'caseimages/shelf (11).png',
          'caseimages/shelf (12).png',
          'caseimages/shelf (10).png',
          'caseimages/shelf (13).png',],
        galleryImages2:[
          'caseimages/shelf (9).png',
          'caseimages/shelf (8).png',
          'caseimages/shelf (7).png',
          'caseimages/shelf (6).png',],
        galleryImages3:[
          'caseimages/shelf (5).png',
          'caseimages/shelf (4).png',
          'caseimages/shelf (3).png',
          'caseimages/shelf (2).png'
        ]
        },
        {
          id: 7,
          heroDescription: "A brand identity is always good",
          image: "Trifold Brochure.png",
          title: "Brochure Design",
          tags: "Graphic Design",
          info: "A brochure design for a pastry shop",
          buttonText: "See MoodBoard",
          link : "",
          researchText: "",
            keyFeaturesList: [
            "1",
            "2",
            "3",
          ],
            futureEnhancementsList: [
            "1",
            "2",
            "3",
          ],
          challengeText: "The digital reading landscape is saturated with various platforms and apps, making it challenging for readers to find a seamless and engaging experience. The Shelf aimed to address this challenge by creating a novel reading app that combines functionality, aesthetics, and user experience.",
        goalsList: [
          "Develop a user-friendly interface for easy navigation and accessibility.",
          "Create a visually appealing design to enhance the reading experience.",
          "Implement features such as personalized recommendations and social sharing to increase user engagement.",
          "Optimize performance and responsiveness across different devices and platforms.",
        ],
        galleryImages1: [
          'caseimages/shelf (11).png',
          'caseimages/shelf (12).png',
          'caseimages/shelf (10).png',
          'caseimages/shelf (13).png',],
        galleryImages2:[
          'caseimages/shelf (9).png',
          'caseimages/shelf (8).png',
          'caseimages/shelf (7).png',
          'caseimages/shelf (6).png',],
        galleryImages3:[
          'caseimages/shelf (5).png',
          'caseimages/shelf (4).png',
          'caseimages/shelf (3).png',
          'caseimages/shelf (2).png'
        ]
        },
        
        ],
        designSteps: [
          {
            title: 'Research',
            icon: 'bi bi-search',
            description: 'User Interview, User Research, Competitive Analysis.'
          },
          {
            title: 'Define',
            icon: 'bi bi-person',
            description: 'Affinity Mapping, Personas, Empathy Map, Journey Map.'
          },
          {
            title: 'Ideate',
            icon: 'bi bi-lightbulb-fill',
            description: 'User Flow, Card Sorting, inspirations, Information Architecture.'
          },
          {
            title: 'Design',
            icon: 'bi bi-bezier',
            description: 'User Fidelity, Hard Fidelity, Prototype Design.'
          },
          {
            title: 'Testing',
            icon: 'bi bi-ui-checks',
            description: 'Prototyping, User Testing (not yet), Feedback.'
          }
        ],
        card: {},
      };
    },
    mounted() {
      this.card = this.cards.find(c => c.id === cardId);
    }
  });

  app.mount('#app3');
</script>

</body>
</html>